/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

/[Mm]emoryCaptures/

!/[Aa]ssets/**/*.meta

.vs/
.gradle/

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt

*.apk
*.aab
*.unitypackage
*.app

.DS_Store
xcuserdata/
DerivedData/

# Ignore MultiSet SDK Credentials
Assets/Samples/MultiSet-SDK/*/Sample Scenes/Resources/MultiSetConfig.asset
Assets/Samples/MultiSet-SDK/*/Sample Scenes/Resources/MultiSetConfig.asset.meta